/* ! Base Style HOME*/

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    text-align: center;
}

a {
    text-decoration: none;
}

p {
    color: black;
    padding-bottom: 30px;
}

.big-text {
    font-size: 70px;
    font-weight: 900;
}

.med-text {
    font-size: 30px;
    padding-top: 5px;
}

.normal-text {
    font-size: 20px;
}

.small-text {
    font-size: 14px;
}


/*.iconaaccount {
    display: inline-block;
    border-radius: 4px;
    margin: 15px;
    width: 5px;
}

.iconaaccount img {
    height: 5px;
    width: 5px;
}*/

.button {
    padding: 18px 30px;
    background: burlywood;
    color: black;
    border: solid 2px black;
    display: inline-block;
    border-radius: 4px;
    margin: 15px
}

.button:hover {
    background: burlywood;
    color: #fff;
    border-color: white;
}

@media (max-width: 768px) {
    .big-text {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .cta {
        display: none;
    }
    .menu {
        position: absolute;
        top: 0;
        right: -100%;
        background: #000;
        height: 100vh;
        padding-top: 80px;
    }
    .menu li {
        display: block;
    }
    .menu li a {
        padding: 15px 30px;
        font-size: 20px;
    }
    .menu--open {
        right: 0%;
    }
}


/* ! Header */

.header {
    background-color: burlywood;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px;
    display: flex;
    border-bottom: solid 3px black;
    height: 89px;
}

.menu {
    width: 100%;
}

.menu li {
    display: inline-block;
}

.menu li a {
    color: black;
    padding: 25px;
    display: block;
    font-size: 20px;
}

.spessore-menu {
    height: 150px;
    width: 100%;
    border: 2px solid red;
    margin-top: 0;
    clear: both;
}

.elenco:hover {
    color: white;
}

#slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img_slider {
    width: 100%;
}

#img_slider img {
    width: 100%;
    display: none;
}

#img_slider img:nth-child(1) {
    display: block;
}

#slider button {
    width: 50px;
    height: 50px;
    background: none;
    border: solid 2px burlywood;
    border-radius: 25px;
    font-size: 40px;
    color: black;
    cursor: pointer;
    outline: none;
    transition: all 0.1s ease-in-out;
    margin-right: 10px;
    margin-left: 10px;
}

#slider button:hover {
    transform: scale(1.05);
}

#slider button:active {
    transform: scale(0.95);
}


/* ! Poster */

.poster {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    font-size: medium;
}

.poster__img {
    width: 800px;
    height: 600px;
    align-items: center;
    border: solid red 2px;
}

.poster__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.poster__content {
    width: 35%;
    padding: 50px;
}

.spazio {
    margin: 25px;
    border: solid red 2px;
}

.casella {
    background-color: burlywood;
    color: black;
    border: solid 2px black;
    display: inline-block;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

@media (max-width: 768px) {
    .poster {
        flex-wrap: wrap;
        height: auto;
    }
    .poster__img,
    .poster__content {
        width: 100%;
    }
}


/* ! Footer */

.footer {
    border-top: burlywood solid 1px;
    width: 100%;
    position: relative;
    top: 500px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.social {
    width: 100%;
}

.social li {
    display: inline-block;
}

.social li {
    display: inline-block;
}

.social li a {
    color: black;
    padding: 25px;
    display: block;
    font-size: 20px;
}

#img_slider {
    width: 100%;
}

#img_slider img {
    width: 100%;
    display: none;
}

#img_slider img:nth-child(1) {
    display: block;
}

.social li a {
    color: black;
    padding: 25px;
    display: block;
    font-size: 20px;
}

.container {
    border: 2px solid red;
    max-width: 800px;
    margin: 0 auto;
}


/* !SHOP*/


/* Panel Blue */

.panel-blue {
    background: white;
    padding: 100px 30px;
}

.panel-blue__text {
    display: flex;
    align-items: center;
}


/*.dot {
    height: 250px;
    width: 250px;
    background: burlywood;
    border-radius: solid burlywood 3px 100%;
    line-height: 250px;
    text-align: center;
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 40px;
}

.dot img {
    border-radius: 100%;
    height: 250px;
    width: 250px;
}


 ! Grid 

.grid {
    display: flex;
    max-width: 1350px;
    padding: 0 30px;
    margin: 0 auto;
}

.grid .col {
    width: 100%;
}

@media (max-width: 768px) {
    .grid {
        flex-wrap: wrap
    }
}*/


/*Contatti*/


/*.imagine-home img {
    width: 80%;
    text-align: center;
    align-items: center;
}

.image-caption {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px 50px;
    background: rgba(255, 255, 255, .6);
}

.image-caption a {
    text-decoration: none;
    color: #212121;
    transition: .25s ease-in-out;
}

.category {
    position: relative;
    padding: 0 25px;
    display: inline-block;
}

.category:before,
.category:after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -2px;
    width: 25px;
    border-bottom: 2px solid;
    margin-left: -7px;
    margin-right: -7px;
    display: flex;
}

.category:before {
    left: 0;
}

.category:after {
    right: 0;
}

.post-title {
    margin-bottom: 30px;
}

.post-readmore a {
    display: inline-block;
    padding: 5px 25px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: flex;
}

.post-readmore a:hover {
    background: #cc9966;
    color: #fff;
    border-color: #cc9966;
}

.titolo {
    background-color: rgba(255, 255, 255, 0.452);
    font-size: 65px;
    font-family: 'Courier New', Courier, monospace;
    width: 300px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 10px 10px 10px 10px;
    margin: auto;
    display: flex;
}*/