/* ! Base Style HOME*/

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    text-align: center;
}

a {
    text-decoration: none;
}

p {
    color: black;
    padding-bottom: 30px;
}

.big-text {
    font-size: 70px;
    font-weight: 900;
}

.med-text {
    font-size: 30px;
    padding-top: 5px;
}

.normal-text {
    font-size: 20px;
}

.small-text {
    font-size: 14px;
}


/*.iconaaccount {
    display: inline-block;
    border-radius: 4px;
    margin: 15px;
    width: 5px;
}

.iconaaccount img {
    height: 5px;
    width: 5px;
}*/

.button {
    /*accedi*/
    padding: 18px 30px;
    background: brg(0, 0, 0);
    color: black;
    border: solid 2px black;
    display: inline-block;
    border-radius: 4px;
    margin: 15px
}

.button:hover {
    background: burlywood;
    color: #fff;
    border-color: white;
}

@media (max-width: 768px) {
    .big-text {
        font-size: 40px;
    }
}


/* ! Header */

.header {
    /*menu*/
    background-color: burlywood;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px;
    display: flex;
    border-bottom: solid 3px black;
    height: 89px;
}

.menu {
    width: 100%;
}

.menu li {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    font-size: 14px;
}

.menu li a {
    color: black;
    padding: 25px;
    display: block;
    font-size: 20px;
}

.spessore-menu {
    height: 150px;
    width: 100%;
    border: 2px solid red;
    margin-top: 0;
    clear: both;
}

.elenco:hover {
    /*home,shop,assistenza*/
    color: white;
}

#slider {
    /*immagini che scorrono*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border: 2px solid red;
    max-width: 800px;
    margin: 0 auto;
}

#img_slider {
    width: 100%;
}

#img_slider img {
    width: 100%;
    display: none;
}

#img_slider img:nth-child(1) {
    display: block;
}

#slider button {
    /*pulsanti*/
    width: 50px;
    height: 50px;
    background: none;
    border: solid 2px burlywood;
    border-radius: 25px;
    font-size: 40px;
    color: black;
    cursor: pointer;
    outline: none;
    transition: all 0.1s ease-in-out;
    margin-right: 10px;
    margin-left: 10px;
}

#slider button:hover {
    transform: scale(1.05);
}

#slider button:active {
    transform: scale(0.95);
}


/* ! Poster */

.poster {
    /*immagini e scritta affiancate*/
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    font-size: medium;
}

.poster__img {
    width: 800px;
    height: 600px;
    align-items: center;
    border: solid red 2px;
}

.poster__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.poster__content {
    width: 35%;
    padding: 50px;
}

.spazio {
    margin: 25px;
    border: solid red 2px;
}

.casella {
    /*parte scritta*/
    background-color: burlywood;
    color: black;
    border: solid 2px black;
    display: inline-block;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

@media (max-width: 768px) {
    .poster {
        flex-wrap: wrap;
        height: auto;
    }
    .poster__img,
    .poster__content {
        width: 100%;
    }
}


/* ! Footer */

.footer {
    /*contatti alla fine*/
    border-top: burlywood solid 1px;
    width: 100%;
    position: relative;
    top: 500px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.social {
    width: 100%;
}

.social li {
    display: inline-block;
}

.social li {
    display: inline-block;
}

.social li a {
    color: black;
    padding: 25px;
    display: block;
    font-size: 20px;
}

#img_slider {
    width: 100%;
}

#img_slider img {
    width: 100%;
    display: none;
}

#img_slider img:nth-child(1) {
    display: block;
}

.social li a {
    color: black;
    padding: 25px;
    display: block;
    font-size: 20px;
}

#iconmenu {
    width: 30px;
    cursor: pointer;
    margin-right: 0px;
    display: none;
}

@media (max-width: 768px) {
    .cta {
        display: none;
    }
    .menu {
        position: absolute;
        top: 0;
        right: -100%;
        background: #000;
        height: 100vh;
        padding-top: 80px;
    }
    .menu li {
        display: block;
    }
    .menu li a {
        padding: 15px 30px;
        font-size: 20px;
    }
    .menu--open {
        right: 0%;
    }
    /*#iconmenu{
        display: block;
        margin-left: 50px;
    } */
}


/*#mobilemenu {
    width: 100%;
    height: 100%;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sezionemobile {
    width: 130px;
    height: 40px;
    background-color: burlywood;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.sezionemobile:hover {
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.sub-menu {
    position: absolute;
    top: 60px;
    left: 0px;
    border: 1px solid black;
    border-bottom: none;
    visibility: hidden;
    opacity: 0;
}

.menu .has-children:hover .sub-menu {
    transition: .5s;
    visibility: visible;
    opacity: 1;
    top: 50px;
}

.sub-menu li {
    width: 100px;
    font-size: 10px;
    border-bottom: 1px solid black;
}

.menu a {
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: black;
    transition: .3s;
}

.sub-menu a {
    background: burlywood;
}

.sub-menu a:hover {
    background: cornsilk;
    color: black;
    
}


/* Panel Blue */

.panel-blue {
    width: 100%;
    background: #4bb1e9;
    padding: 100px 30px;
}

.panel-blue__text {
    width: 100%;
    display: flex;
    align-items: center;
}

.dot {
    height: 250px;
    width: 250px;
    background: #6adf91;
    border-radius: 100%;
    line-height: 250px;
    text-align: center;
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 40px;
}
.top{
    font-weight: bold;
    
}
.contenitore {
    border: solid burlywood 2px;
    width: 70%;
    height: 300px;
    margin: 0 auto;
    margin-top: 60px;
      
}
.contenitore ul{
    float: left;
    margin-top: 130px;
    margin-left: 80px;
    
    
}
.down{
    padding-top: 10px;
    font-style: oblique;
    color: black;
}
.down :hover{
    
    color: burlywood;
    transform: scale(1.05);
}
